name: Wisecow CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:

  # ------------------------------
  # 1. BUILD & PUSH DOCKER IMAGE
  # ------------------------------
  build-and-push:
  runs-on: ubuntu-latest

  steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build & Push Image
      uses: docker/build-push-action@v4
      with:
        context: .
        file: Dockerfile
        push: true
        tags: wisecow:latest



  # ------------------------------
  # 2. DEPLOY TO KIND CLUSTER
  # ------------------------------
  build-and-deploy:
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install kind and kubectl
        run: |
          curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.25.0/kind-linux-amd64
          chmod +x ./kind
          sudo mv ./kind /usr/local/bin/kind
          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
          chmod +x kubectl
          sudo mv kubectl /usr/local/bin/

      - name: Create kind cluster
        run: kind create cluster --name wisecow-cluster

      - name: Load DockerHub image into kind
        run: |
          docker pull mohdahmad12870/wisecow:latest
          kind load docker-image mohdahmad12870/wisecow:latest --name wisecow-cluster

      - name: Apply Kubernetes manifests
        run: |
          kubectl apply -f wisecow-nodeport.yaml
          kubectl set image deployment/wisecow-deployment wisecow-container=mohdahmad12870/wisecow:latest
          kubectl rollout status deployment/wisecow-deployment

      - name: Show pods
        run: kubectl get pods -o wide









            

